html {
    font-size: 16px;
}

body {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

input, button {
    &, &:hover, &:focus {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        text-decoration: none;
    }
}